.form-item {
  display: block;
  margin-bottom: 15px;
  position: relative;
  label {
    display: block;
    margin-bottom: 10px;
  }
  textarea,
  input, select {
    border: 2px solid $grey;
    padding: 10px;
    font-size: $font-base;
    border-radius: $border-radius;
    width: 100%;
    outline: none;
    @include transition-default;

    &:hover,
    &:focus,
    &:active {
      border: 2px solid $accent-colour;
    }

  }

  /* Modifiers */
  &--checkbox {
    label {
      display: flex;
      align-items: center;
    }
    input {
      flex-basis: 15px;
      margin-right: 10px;
    }
  }

  &--error {
    input {
      border: 2px solid $error-red;
    }
  }

  &--double {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
  }

}

.btn {
  padding: 10px 15px;
  border: 0;
  margin: 0;
  font-family: $font-heading;
  cursor: pointer;
  @include transition-default;
}

.btn-default {
  @include gradient-purple;
  color: #fff;
  position: relative;
  border-radius: $border-radius;
  &:hover {
    @include gradient-purple-hover;
  }
}

.btn-alt {
  @include gradient-red;
  color: #fff;
  position: relative;
  border-radius: $border-radius;
  &:hover {
    @include gradient-red-hover;
  }
}

.btn-success {
  @include gradient-green;
  color: #fff;
  position: relative;
  border-radius: $border-radius;
  &:hover {
    @include gradient-green-hover;
  }
}

.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-block {
  display: block;
  width: 100%;
}

.panel {
  padding: 20px;
  border-radius: $border-radius;
  background-color: $light-grey;
  @include box-shadow-sm;
}

/* State label colours */
.state {
  &--info {
    @include gradient-purple;
    &:hover {
      @include gradient-purple-hover;
    }
  }
  &--warning {
    @include gradient-red;
    &:hover {
      @include gradient-red-hover;
    }
  }
  &--success {
    @include gradient-green;
    &:hover {
      @include gradient-green-hover;
    }
  }
}