// Colours
$accent-colour: #8515DB;
$light-grey: #eee;
$grey: #777777;
$error-red: #D20154;

// Fonts
$font-heading: 'Montserrat', sans-serif;
$font-primary: 'Lato', sans-serif;
$font-base: 16px;

// Other
$border-radius: 5px;

// Gradients
@mixin gradient-purple {
 background: linear-gradient(45deg, rgba(133,21,219,1) 0%, rgba(210,1,250,1) 100%);
}
@mixin gradient-purple-hover {
 background: linear-gradient(45deg, rgba(210,1,250,1) 0%, rgba(210,1,250,1) 100%);
}

// Box Shadows
@mixin box-shadow {
 box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
@mixin transition-default {
 transition: 0.33s ease-in-out;
}

// Mixins

// Functions