// Colours
$accent-colour: #8515DB;
$accent-light: #D201FA;
$light-grey: #eee;
$grey: #777777;
$background-grey: #232323;
$error-red: #D20154;
$font-color: #000;

// Fonts
$font-heading: 'Montserrat', sans-serif;
$font-primary: 'Lato', sans-serif;
$font-weight-heading: 500;
$font-weight-subheading: 400;

// Font Sizes
$font-xl: 48px;
$font-lg: 30px;
$font-md: 24px;
$font-sm: 18px;
$font-base: 16px;
$font-xs: 14px;
$font-xxs: 12px;

// Other
$border-radius: 5px;